footer.footer.bg-dark.text-light.py-4.mt-5
  .container
    .row.align-items-center.text-center.text-md-start
      .col-md-6
        p.mb-0.fw-light &copy; Copyright 2026. All rights reserved.
      .col-md-6.text-md-end.mt-2.mt-md-0
        span.text-muted.small Developed by 